<%= form_with(model: piece) do |form| %>
  <% if piece.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
        <% piece.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <button class="border-2 rounded-lg bg-gray-200 hover:bg-gray-300 p-1">
    <%= form.submit %>
  </button>
<% end %>
